#########################
# Server
#########################
django
gevent
gunicorn


#########################
# Database
#########################
psycopg2


#########################
# Client-side templating
#########################
django-mustachejs
